{% extends 'headerPage.html' %}

{% block content%}

    <h2>Uplaod Image for Classification</h2>

    
    <br>
   
    <form method="post" enctype="multipart/form-data" action="predictImage">
  
 {% csrf_token %}
 <div class="col-md-4 col-sm-4"><label for="fname">Upload Image File Here:</label> </div> <input name="filePath" type="file"><br><br>
 <br>

 
 <input type="submit" value="Submit" ></div>

 <h2>The classification of the image is {{predictedLabel}}</h2>
 <img src={{filePathName}} alt='imagename'>
 {{filePathName}}

</form>
<br>


{% endblock %}